$primary-color: #ee4d30;
$success-color: #69e03a;
$info-color: #0090ff;
$warning-color: #f4d000;
$danger-color: #ed5228;
$black-color: #212121;
$black-shade: #13151B;
$primary-hover: #cf3b21;
$soft-primary-1: #FEECDD;
$soft-primary-2: #FFF8F3;
$soft-primary-3: #ff896b;